PAPERLEX_HOST=127.0.0.1
PAPERLEX_PORT=8787
PAPERLEX_PASSWORD=choose-a-long-password
PAPERLEX_CAPTURE_TOKEN=choose-a-separate-random-token
PAPERLEX_SESSION_SECRET=choose-another-random-secret
PAPERLEX_SECURE_COOKIE=false
PAPERLEX_DATA_DIR=./data
PAPERLEX_LIBRARY_URL=
